<?xml version="1.0" encoding="utf-8"?>
<!--
  如需有關如何配置您的 ASP.NET 應用程式的更多資訊，請訪問
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    有關 web.config 更改的描述請參見 http://go.microsoft.com/fwlink/?LinkId=235367。

    可以在 <httpRuntime> 標籤上設置以下屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
	 -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<!-- maxRequestLength 以 Kb 為單位指定 -->
		<httpRuntime targetFramework="4.8" maxRequestLength="30720" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="WebDAV" />
			<!-- 根據 IIS 配置，這些可能需要被添加。
      		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      		<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      		<remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" />
      		<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      		-->
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".nupkg" mimeType="application/zip" />
		</staticContent>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength 以位元組為單位指定 -->
				<requestLimits maxAllowedContentLength="31457280" />
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<!--
		確定是否需要 Api Key 才能從服務器推送\刪除包。
		-->
		<add key="requireApiKey" value="true" />
		<!-- 
		在此設置值以允許人們從服務器推送\刪除包。
		注意：這是一個所有用戶共享的密鑰（密碼）。
		-->
		<add key="apiKey" value="" />
		<!--
		更改包文件夾的路徑。默認為 ~/Packages。
		這可以是虛擬或物理路徑。-->
		<add key="packagesPath" value="" />
		<!--
        更改內部緩存文件的名稱。默認為機器名稱（System.Environment.MachineName）。
        這是包文件夾中的緩存文件的名稱。不允許路徑。
        -->
		<add key="cacheFileName" value="" />
		<!--
        將 allowOverrideExistingPackageOnPush 設置為 false 以模仿 NuGet.org 的行為（不允許覆蓋具有相同 id + 版本的包）。
        -->
		<add key="allowOverrideExistingPackageOnPush" value="false" />
		<!--
    	將 ignoreSymbolsPackages 設置為 true 以過濾掉符號包。由於 NuGet.Server 沒有隨附符號服務器，
    	過濾此類包是有意義的。啟用後，名稱為 `.symbols.nupkg` 的文件或包含 `/src` 文件夾的包將被忽略。
    	
    	如果您只推送 .symbols.nupkg 包，請將此設置為 false，以便可以上傳包。
    	-->
		<add key="ignoreSymbolsPackages" value="true" />
		<!--
    	將 enableDelisting 設置為 true 以啟用下架而不是刪除作為 "nuget delete" 命令的結果。
    	- 刪除：包從存儲庫的本地文件系統中刪除。
    	- 下架：
    	  - "nuget delete"：存儲庫本地文件系統上相應的 nupkg 文件的 "隱藏" 文件屬性將被打開，而不是刪除文件。
    	  - "nuget list" 會跳過下架的包，即那些在其 nupkg 上設置了隱藏屬性的包。
    	  - "nuget install packageid -version version" 命令將對列出和下架的包成功。
    	    例如，通過明確指定版本，仍然可以由客戶端下載下架的包。
    	-->
		<add key="enableDelisting" value="false" />
		<!--
    	將 enableFrameworkFiltering 設置為 true 以在搜索期間按支持的框架過濾包。
    	-->
		<add key="enableFrameworkFiltering" value="false" />
		<!--
    	在 NAT 網絡中運行 NuGet.Server 時，ASP.NET 可能會在 V2 提要中嵌入服務器的內部 IP 地址。
    	取消以下配置條目的註釋以啟用 NAT 支持。
    	-->
		<!-- <add key="aspnet:UseHostHeaderForRequestUrl" value="true" /> -->
		<!--
   	    將 enableFileSystemMonitoring 設置為 true（默認）以啟用文件系統監控（在文件系統更改時適當更新包緩存）。
   	    將其設置為 false 以禁用文件系統監控。
   	    注意：禁用文件系統監控可能會導致存儲容量需求增加，因為包緩存只能由每小時運行一次的後台作業清除。
   	    -->
		<add key="enableFileSystemMonitoring" value="true" />
		<!--
   		將 allowRemoteCacheManagement 設置為 true 以啟用通過來自遠程主機的請求發起的 "清除緩存" 和其他緩存操作。
   		-->
		<add key="allowRemoteCacheManagement" value="false" />
		<!--
   		將 initialCacheRebuildAfterSeconds 設置為在開始重建緩存計時器之前等待的秒數。
   		如果排除或無效值，默認為 15 秒。
   		-->
		<add key="initialCacheRebuildAfterSeconds" value="15" />
		<!--
   		將 cacheRebuildFrequencyInMinutes 設置為重建緩存的頻率（以分鐘為單位）。如果排除或無效值，默認為 60 分鐘。
   		-->
		<add key="cacheRebuildFrequencyInMinutes" value="60" />
	</appSettings>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>